/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */a
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
::selection {
  background-color: #eb4888;
  color: #000;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body, button {
  background: transparent;
   color: #000;
   font-family: "Roboto Mono", monospace;
}
body, #root, .App{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.container{
  margin: 50px auto;
   padding: 5px;
   max-width: 650px;
}
.switchWrap{
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}
h1 { font-weight: 400; margin: 0; }
h2 { color: #96979c; font-weight: 300; margin: 0 0 0.5em 0; }
.toggler {
  margin: 25px 0;
}
.toggler button{
   margin-right: 10px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.img-frame {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
}
.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}
.header-frame {
  max-width: 350px;
}
.links {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 600px){
  .container {
      padding: 20px;
  }
  .links {
      text-align: center;
      justify-content: center;
  }
  .toggler{
      display: flex;
      justify-content: center;
  }
}

.links a:not(:last-child) {
  padding: 0 16px 0 0;
}
.toggler .show{
  border-color: #eb4888;
  color: #eb4888;
}
button{
  width: 120px;
  height: 30px;
  border: 2px solid #96979c;
  border-radius: 15px;
  box-sizing: border-box;
  color: #96979c;
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
}
button:focus{
  outline: none;
}
.bio.show {
  display: block;
}
.bio {
  display: none;
  line-height: 24px;
}
.bio br {
 display: block;
 content: "";
 height: 15px;
}
p { margin: 0 0 30px 0; }
.newsletter-blurb {
  margin: 30px 0;
  line-height: 2em;
}
.newsletter-blurb span {
  color: #eb4888;
}
.newsletter-blurb span.blue {
  color: #10a2f5;
}
.newsletter-blurb span.green {
  color: #24d05a;
}
.sneaky-sponsor {
  color: #96979c;
}
.go-home {
  position: fixed;
  top: 5px;
  left: 20px;
  padding: 5px 5px 5px 0;
  background: transparent;
  box-sizing: border-box;
}
a:hover{
  font-weight: bold;
}
/* toggle */
.switch-color span:nth-child(2){
 display: block;
 height: 26px;
 width: 60px;
 background: #fff;
 border: 2px solid #96979c;
 border-radius: 15px !important;
}
.css-1l8d069-Switch{
 height: 26px;
 width: 60px;
 background: #000;
 border: 2px solid #fff;
 border-radius: 15px !important;
}
.switch-color span:nth-child(3), .css-dzgw1q-Switch{
 top: 3px !important;
 border: 2px solid #fff;
 width: 20px;
 height: 20px;
 border-radius: 50% !important;
 transition: all 800ms ease !important;
}
.css-dzgw1q-Switch{
 left: 37px !important;
 width: 20px;
 height: 20px;
 background: #000;
 border: 2px solid #fff;
}
.switch-color label{
 position: absolute !important;
 z-index: 1000;
 top: 5px;
 right: 20px !important;
 width: 60px !important;
 height: 26px !important;
}
.blog h1, .blog h3, .article h3, .article h1{
 margin-left: 0;
 margin-right: 0;
 margin-top: 3.5rem;
 padding-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 margin-bottom: 1.75rem;
 color: inherit;
 font-family: 'Montserrat',sans-serif;
 font-weight: 900;
 text-rendering: optimizeLegibility;
 font-size: 2.5rem;
 line-height: 1.1;
}
.blog h1{
  font-size: 2.5rem;
}
.blog h3{
  font-size: 1.4427rem;
  margin-bottom: 0.4375rem;
}
.blog .headerTitle{
 font-size: 3.95285rem;
 line-height: 4.375rem;
 margin-bottom: 2.625rem;
 margin-top: 0;
}
.backLink{
  font-size: 1rem;
  position: fixed;
  left: 20px;
  top: 15px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
 }
 .backLink:hover{
   font-weight: bold !important;
 }
.headerDetail{
 display: flex;
 margin-bottom: 4.375rem;
}
.headerAvatar{
 position: relative;
 overflow: hidden;
 display: inline-block;
 width: 50px;
 height: 50px;
 margin-right: 0.875rem;
 margin-bottom: 0;
 min-width: 50px;
 border-radius: 100%;
}
.headerAvatar img{
 width: 100%;
}
.blog a, .article a{
  color: #007acc;
  text-decoration: none;
}
.blog a:hover{
  font-weight: inherit;
}
.blog article{
  /* margin-bottom: 50px; */
}
.article{
 font: 100%/1.75 'Merriweather','Georgia',serif;
 color: hsla(0,0%,0%,0.9);
}
.article header a{
  text-decoration: none;
  color: black;
}
.article h3{
  font-size: 23px;
}
.article h1{
  margin-top: 1.75rem;
}
.article h2, .article h4, .article h5, .article h6{
 margin-left: 0;
 margin-right: 0;
 margin-top: 0;
 padding-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 margin-bottom: 1.75rem;
 color: inherit;
 font-family: 'Merriweather','Georgia',serif;
 font-weight: 900;
 text-rendering: optimizeLegibility;
 line-height: 1.1;
}
.article h2{
 font-size: 1.73286rem;
}
.article h4{
 font-size: 1rem;
 line-height: 1.1;
 letter-spacing: 0.140625em;
 text-transform: uppercase;
}
.article h5{
 font-size: 0.83255rem;
}
.article h6{
 font-size: 0.75966rem;
 font-style: italic;
}
.article .articleDate{
 font-size: 1.3rem;
 line-height: 1.75rem;
 display: block;
 margin-bottom: 1.75rem;
}
.article p{
 margin-left: 0;
 margin-right: 0;
 margin-top: 0;
 padding-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 margin-bottom: 1.75rem;
}
.article ul, .article ol{
  margin-left: 0;
  margin-right: 0;
 margin-top: 0;
 padding-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 margin-bottom: 1.75rem;
 list-style-position: outside;
 list-style-image: none;

}
.article ul{
 list-style: disc;
}
.article hr{
 margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.75rem - 1px);
  background: hsla(0,0%,0%,0.2);
  border: none;
  height: 1px;
}
.article blockquote{
 margin-left: -1.75rem;
 margin-right: 1.75rem;
 margin-top: 0;
 padding-bottom: 0;
 padding-left: 1.42188rem;
 padding-right: 0;
 padding-top: 0;
 margin-bottom: 1.75rem;
 font-size: 1.20112rem;
 line-height: 1.75rem;
 /* color: hsla(0,0%,0%,0.59); */
 font-style: italic;
 border-left: 0.32813rem solid hsla(0,0%,0%,0.9);
}
.article .pagerUl{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 list-style: none;
 padding: 0;
}
footer{
  padding-top: 50px;
}
